/* ForgotPassword.css */

.forgot-password-container {
    background-color: #f5f5f5; /* Grey background */
    color: #e5510d; /* Orange text color */
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 20px; /* Add some top margin */
  }
  
  .forgot-password-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    text-align: left;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #e5510d; /* Orange button color */
    color: #fff; /* White text color */
    padding: 12px 20px; /* Larger button size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d1470e; /* Darker orange on hover */
  }
  
  .reset-message {
    margin-top: 10px;
  }
  