/* Homepage.css */

/* Hero Section */
.hero {
    background-image: url('../Pages/Digitaltwin.webp');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 0;
    animation: fadeIn 5s infinite; /* Make the animation run infinitely */
  }


h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}
h2 {
    color: white;
}
p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.feature {
    flex: 1;
    text-align: center;
    margin: 0 20px;
    animation: slideIn 1s;
    color: white;
    font-weight: bold;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
